#!/usr/bin/env xdg-open
[Desktop Entry]
Type=Application
Name=IRPF2024
Exec=sh -c "java -jar /opt/IRPF2024/irpf.jar"
Icon=/opt/IRPF2024/IRPF.png
Categories=Application;
