#!/usr/bin/env xdg-open
[Desktop Entry]
Type=Application
Name=IRPF2025
Exec=sh -c "java -jar /opt/IRPF2025/irpf.jar"
Icon=/opt/IRPF2025/IRPF.png
Categories=Application;
